@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/capture-it');

@theme {
  --font-capture: "Capture It", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}