@import "tailwindcss";

@font-face {
  font-family: "Capture It";
  src: url("@shared/assets/fonts/CaptureIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-capture: "Capture It", sans-serif;
}

/* Глобальная адаптация под "тесные" браузеры (Opera GX, маленькие ноутбуки) */
@media (max-height: 800px) and (min-width: 1024px) {
  #app {
    zoom: 0.9; /* Слегка уменьшаем всё, если высота экрана меньше 800px */
  }
}

@media (max-height: 700px) and (min-width: 1024px) {
  #app {
    zoom: 0.85;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

@keyframes spin-slow { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@keyframes counter-rotate { 0% { transform: rotate(0deg); } 100% { transform: rotate(-360deg); } }
.animate-spin-slow { animation: spin-slow 4s linear infinite; }
.animate-counter-rotate { animation: counter-rotate 10s linear infinite; }